<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INSITE Entrepreneurship Guide</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            color: #444;
            margin-bottom: 50px;
        }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
        .panel-title > a {
            color: #0f7689;
        }
        .panel-title > a:active,
        .panel-title > a:visited {
            color: #7f3f75;
        }
    </style>
</head>
<body ng-controller="mainController">
    <div class="container">
        <div class="page-header">
            <h1>INSITE Entrepreneurship Guide<br><small>Guide to UW-Madison and Community Entrepreneurship Resources</small></h1>
        </div>

        <h2>Select Stage</h2>
        <div class="radio" ng-if="grid.stages" ng-repeat="(sidx, stage) in grid.fields.stages">
            <label ng-cloak>
                <input type="radio" name="selectedStage" ng-model="selected.stage" ng-value="stage">
                {{ ::stage }}
            </label>
        </div>

        <div ng-if="selected.stage">
            <h2 ng-cloak>{{ ::selected.stage }} Needs</h2>

            <div class="checkbox" ng-if="grid.stages[selected.stage]" ng-repeat="(need, resources) in grid.stages[selected.stage]">
                <label ng-cloak>
                    <input type="checkbox" ng-name="{{ ::need }}" ng-model="selected.needs[need]" ng-value="need">
                    {{ ::need }}
                </label>
            </div>
        </div>

        <div>
            <h2 ng-if="showResources" ng-cloak>Resources</h2>

            <div ng-repeat="(resource, details) in selectedResources()" ng-cloak class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a ng-href="{{ ::details['URL'] }}">{{ resource }}</a> <small>({{ details['Affiliation'] }})</small></h4>
                </div>
                <div class="panel-body">{{ ::details['Description'] }}</div>
                <div ng-if="details.needs" class="panel-footer">
                    <strong>Needs:</strong>
                    <span class="label label-default" style="margin-right: 5px;" ng-repeat="(resourceNeed, active) in details.needs">{{ resourceNeed }}</span>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.1/papaparse.min.js"></script>
    <script type="text/javascript">
        var app = angular
            .module('app', [])
            .controller('mainController', mainController)
            .factory('eshipGrid', eshipGrid)
            ;

        mainController.$inject = ['$scope', 'eshipGrid'];
        function mainController ($scope, eshipGrid) {
            $scope.selected = {
                stage: '',
                needs: {}
            }
            $scope.selectedResources = selectedResources;
            $scope.showResources = false;

            eshipGrid.getEshipGrid('eship-grid.csv')
                .then(function (grid) {
                    $scope.grid = grid;
                });

            function selectedResources() {
                var resources = {};
                $scope.showResources = false;
                angular.forEach($scope.selected.needs, function (selected, need) {
                    angular.forEach($scope.grid.stages[$scope.selected.stage][need], function (resource) {
                        if (selected && undefined !== $scope.grid.resources[resource]) {
                            resources[resource] = $scope.grid.resources[resource];
                            if (undefined === resources[resource].needs) {
                                resources[resource].needs = {};
                            }
                            resources[resource].needs[need] = true;
                            $scope.showResources = true;
                        }
                    });
                });
                return resources;
            }
        }

        eshipGrid.$inject = ['$http'];
        function eshipGrid($http) {
            var service;

            service = {
                getEshipGrid: getEshipGrid
            };

            return service;

            function getEshipGrid(gridPath) {
                var csv,
                    data;

                return getEshipGridCsv(gridPath)
                    .then(parseCsvFile);

                function parseCsvFile(csv) {
                    data = {'stages': {}, 'resources': {}, 'fields': {}};
                    parseCsvFields(csv.meta.fields);
                    angular.forEach(csv.data, parseCsvRow);
                    return data;
                }

                function parseCsvFields(fields) {
                    var isStage = /stage$/i;
                    angular.forEach(fields, function assignField(field) {
                        if (undefined === data.fields.meta) {
                            data.fields.meta = [];
                        }
                        if (undefined === data.fields.stages && null === field.match(isStage)) {
                            data.fields.meta.push(field);
                        } else if (null !== field.match(isStage)) {
                            if (undefined === data.fields.stages) {
                                data.fields.stages = [];
                            }
                            data.fields.stages.push(field);
                        } else if (undefined !== data.fields.stages) {
                            if (undefined === data.fields.needs) {
                                data.fields.needs = [];
                            }
                            data.fields.needs.push(field);
                        }
                    });
                }

                function parseCsvRow(row) {
                    defineResource(row);

                    angular.forEach(data.fields.stages, function (stage) {
                        if (row[stage] === 'Yes') {
                            assignNeedsToStage(stage, row);
                        };
                    });
                }

                function assignNeedsToStage(stage, row) {
                    if (undefined === data.stages[stage]) {
                        data.stages[stage] = {};
                    }
                    angular.forEach(data.fields.needs, function (need) {
                        if (row[need] === 'Yes') {
                            assignNeedToStage(stage, need, row['Resource']);
                        }
                    });
                }

                function assignNeedToStage(stage, need, resource) {
                    if (undefined === data.stages[stage][need]) {
                        data.stages[stage][need] = [];
                    }
                    data.stages[stage][need].push(resource);
                }

                function defineResource(row) {
                    data.resources[row['Resource']] = {
                        'Affiliation': row['Affiliation'],
                        'Description': row['Description'],
                        'Resource': row['Resource'],
                        'URL': row['URL']
                    };
                }
            }

            function getEshipGridCsv(gridPath) {
                return $http.get(gridPath)
                    .then(getEshipGridCsvComplete)
                    .catch(getEshipGridCsvFailed);

                function getEshipGridCsvComplete(response) {
                    return Papa.parse(response.data, {
                        header: true,
                        dynamicTyping: true,
                        skipEmptyLines: true
                    });
                }

                function getEshipGridCsvFailed(error) {
                    console.warn(error);
                }
            }
        }
    </script>
</body>
</html>
