<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INSITE Entrepreneurship Guide</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            color: #444;
            margin-bottom: 50px;
        }
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
        .label {
            display: inline-block;
        }
        .label-inverse {
            background-color: #fff;
            color: #444;
        }
        .panel-title > a {
            color: #0f7689;
        }
        .panel-title > a:active,
        .panel-title > a:visited {
            color: #7f3f75;
        }
        .panel-footer {
            background-color: #fff;
        }
        .stage-name {
            display: block;
            font-weight: bold;
            width: 60px
        }
        .stage-description {
            display: block;
        }
        h1, h2, h3, h4 {
            color: #54565B;
        }
        @media (max-width: 480px) {
            .label {
                max-width: 250px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    </style>
</head>
<body ng-controller="mainController">
    <div class="container">
        <div class="page-header">
            <h1>INSITE Entrepreneurship Guide<br><small>An interactive directory of UW-Madison and community entrepreneurship resources made possible in partnership with the UW-Madison Office of Corporate Relations, University Research Park, and the Wisconsin School of Business.</small></h1>
        </div>

        <h2>What stage of development am I at?</h2>
        <ul class="list-group">
        <li class="list-group-item radio" ng-if="::grid.stages" ng-repeat="stage in ::grid.fields.stages">
            <label ng-cloak>
                <input type="radio" ng-change="updateUrl()" name="selectedStage" ng-model="selected.stage" ng-value="stage">
                <span class="stage-name">{{ ::stageName(stage)[0] }}</span>
                <span class="stage-description">{{ ::stageName(stage)[1] }}</span>
            </label>
        </li>
        </ul>

        <p>Not sure where to begin? The Small Business Development Center or Wisconsin Economic Development Corporation may be able to help you.</p>

        <p>SBDC Wisconsin Business AnswerLine - Counselors give free answers to your business start-up or management questions. Call 1-800-940-7232 or request help online at <a href="http://bus.wisc.edu/cped/sbdc/wbal">Wisconsin Business AnswerLine</a>.</p>

        <p>WEDC Connect with WEDC business development specialists around the state to explore business growth opportunities. More at <a href="http://inwisconsin.com/grow/resources/regional-account-managers/">Regional Account Managers</a>.</p>

        <div ng-if="selected.stage">
            <h2 ng-cloak>What are you interested in?</h2>

            <div class="checkbox" ng-repeat="need in ::grid.fields.needs">
                <label ng-cloak>
                    <input type="checkbox" ng-change="updateUrl()" ng-name="{{ ::need }}" ng-model="selected.needs[need]" ng-value="::need">
                    {{ ::need }}
                </label>
            </div>
        </div>

        <div>
            <h2 ng-if="showResources" ng-cloak>Resources</h2>

            <div ng-repeat="(resource, details) in selectedResources()" ng-cloak class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a ng-href="{{ ::details['URL'] }}">{{ ::resource }}</a> <small>({{ ::details['Affiliation'] }})</small></h4>
                </div>
                <div class="panel-body">{{ ::details['Description'] }}</div>
                <div ng-if="::details.needs" class="panel-footer">
                    <ul class="list-inline" style="margin-bottom: 0;">
                        <li><strong class="label label-inverse">Needs:</strong></li>
                        <li ng-repeat="(resourceNeed, active) in details.needs"><span class="label label-default">{{ ::resourceNeed }}</span></li>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.1/papaparse.min.js"></script>
    <script type="text/javascript">
        var app = angular
            .module('app', ['ui.router'])
            .controller('mainController', mainController)
            .factory('eshipGrid', eshipGrid)
            ;

        mainController.$inject = ['$location', '$scope', 'eshipGrid'];
        function mainController ($location, $scope, eshipGrid) {
            $scope.selected = {
                stage: '',
                needs: {}
            }
            $scope.selectedResources = selectedResources;
            $scope.showResources = false;
            $scope.stageName = stageName;
            $scope.updateUrl = updateUrl;

            eshipGrid.getEshipGrid('eship-grid.csv')
                .then(function (grid) {
                    var slugs;
                    $scope.grid = grid;
                    slugs = $location.path().split('/');
                    if (undefined !== slugs[1]) {
                         updateStageFromSlug(slugs[1]);
                    }
                    if (undefined !== slugs[2]) {
                        updateNeedsFromSlug(slugs[2]);
                    }
                });

            function selectedResources() {
                var resources = {};
                $scope.showResources = false;
                angular.forEach($scope.selected.needs, function (selected, need) {
                    angular.forEach($scope.grid.stages[$scope.selected.stage][need], function (resource) {
                        if (selected && undefined !== $scope.grid.resources[resource]) {
                            resources[resource] = $scope.grid.resources[resource];
                            if (undefined === resources[resource].needs) {
                                resources[resource].needs = {};
                            }
                            resources[resource].needs[need] = true;
                            $scope.showResources = true;
                        }
                    });
                });
                return resources;
            }

            function stageName(stage) {
                var expandedStages = {
                    'Ideation Stage': ['Ideation', 'I am an entrepreneur with an idea'],
                    'Startup Stage': ['Startup', 'I have created a business'],
                    'Scaling Stage': ['Scaling', 'I am growing an existing company'],
                };

                if (undefined === expandedStages[stage]) {
                    return [stage, ''];
                } else {
                    return expandedStages[stage];
                }
            }

            function updateUrl() {
                var stage, needs = [];
                if (undefined === $scope.selected.stage) {
                    return;
                }
                stage = createSlug($scope.selected.stage);
                angular.forEach($scope.selected.needs, function (selected, need) {
                    if (selected) {
                        needs.push(createSlug(need, 3));
                    }
                });
                if (0 === needs.length) {
                    //$state.go('stage', {'stage': stage});
                    $location.path('/' + stage + '/').replace();
                } else {
                    //$state.go('needs', {'stage': stage, 'needs' : needs.join()});
                    $location.path('/' + stage + '/' + needs.join() + '/').replace();
                }
            }

            function updateStageFromSlug(slug) {
                var stageSlug;
                angular.forEach($scope.grid.fields.stages, function (stage) {
                    stageSlug = createSlug(stage);
                    if (stageSlug === slug) {
                        $scope.selected.stage = stage;
                    }
                });
            }

            function updateNeedsFromSlug(slug) {
                var slugParts = {}, needSlug;
                angular.forEach(slug.split(','), function (slugPart) {
                    slugParts[slugPart] = true;
                });
                angular.forEach($scope.grid.fields.needs, function (need) {
                    needSlug = createSlug(need, 3);
                    if (undefined !== slugParts[needSlug]) {
                        $scope.selected.needs[need] = true;
                    }
                });
            }

            function createSlug(term, max) {
                var slug, splitTerms;
                splitTerms = term.split(' ');
                slug = splitTerms[0].toLowerCase();
                if (undefined === max) {
                    return slug;
                } else {
                    return slug.substr(0, max);
                }
            }
        }

        eshipGrid.$inject = ['$http', '$q'];
        function eshipGrid($http, $q) {
            var service;

            service = {
                getEshipGrid: getEshipGrid,
            };

            return service;

            function getEshipGrid(gridPath) {
                var csv,
                    data;

                if (undefined === data) {
                    return getEshipGridCsv(gridPath)
                        .then(parseCsvFile);
                } else {
                    return $q.when(data);
                }

                function parseCsvFile(csv) {
                    data = {'stages': {}, 'resources': {}, 'fields': {}};
                    parseCsvFields(csv.meta.fields);
                    angular.forEach(csv.data, parseCsvRow);
                    return data;
                }

                function parseCsvFields(fields) {
                    var isStage = /stage$/i;
                    angular.forEach(fields, function assignField(field) {
                        if (undefined === data.fields.meta) {
                            data.fields.meta = [];
                        }
                        if (undefined === data.fields.stages && null === field.match(isStage)) {
                            data.fields.meta.push(field);
                        } else if (null !== field.match(isStage)) {
                            if (undefined === data.fields.stages) {
                                data.fields.stages = [];
                            }
                            data.fields.stages.push(field);
                        } else if (undefined !== data.fields.stages) {
                            if (undefined === data.fields.needs) {
                                data.fields.needs = [];
                            }
                            data.fields.needs.push(field);
                        }
                    });
                }

                function parseCsvRow(row) {
                    defineResource(row);

                    angular.forEach(data.fields.stages, function (stage) {
                        if (row[stage] === 'Yes') {
                            assignNeedsToStage(stage, row);
                        };
                    });
                }

                function assignNeedsToStage(stage, row) {
                    if (undefined === data.stages[stage]) {
                        data.stages[stage] = {};
                    }
                    angular.forEach(data.fields.needs, function (need) {
                        if (row[need] === 'Yes') {
                            assignNeedToStage(stage, need, row['Resource']);
                        }
                    });
                }

                function assignNeedToStage(stage, need, resource) {
                    if (undefined === data.stages[stage][need]) {
                        data.stages[stage][need] = [];
                    }
                    data.stages[stage][need].push(resource);
                }

                function defineResource(row) {
                    data.resources[row['Resource']] = {
                        'Affiliation': row['Affiliation'],
                        'Description': row['Description'],
                        'Resource': row['Resource'],
                        'URL': row['URL']
                    };
                }
            }

            function getEshipGridCsv(gridPath) {
                return $http.get(gridPath)
                    .then(getEshipGridCsvComplete)
                    .catch(getEshipGridCsvFailed);

                function getEshipGridCsvComplete(response) {
                    return Papa.parse(response.data, {
                        header: true,
                        dynamicTyping: true,
                        skipEmptyLines: true
                    });
                }

                function getEshipGridCsvFailed(error) {
                    console.warn(error);
                }
            }
        }
    </script>
</body>
</html>
